#container{
	width: 95%;
	margin: 10px auto;
}

header{
	height:180px;
	width:100%;
	margin: 10px 0 0 0;
	background-image:url("images/patima.jpg");
}

nav{
	width: 100%;
}

nav a{
	background-image: url("images/nav.png");
	width: 25%;
	height: 40px;
	float:left;
	text-align: center;
	text-decoration:none;
	font-size:20px;
	font-family:"Times New Roman",Times, serif;
	text-transform:uppercase;
	font-weight: bold;
	color: #996600;
	padding: 15px 0 0 0;
}

nav a:hover{
	background-image: url("images/nav_hover.png");
}

#content{
	height:70%;
	border-right: 10px solid #006666;
	border-left: 10px solid #006666;
	border-bottom: 10px solid #006666;
	padding: 50px 60px;
}

footer p{
	float: right;
	font-family:"Arial",Times,serif;
	background-color: #D8D8D8;
	font-style:italic;
}
